header {
  background-color: #003b44;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 32px;
  padding-right: 32px;
}

div {
  display: flex;
  height: 40px;
  gap: 32px;
}

button {
  height: 40px;
  padding: 8px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #003b44;
  cursor: pointer;
}
